{#
 #  @license 3-clause BSD
 #  @link https://github.com/FeedbackField/FeedbackField-Core
 #}

{% extends 'FeedbackFieldBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('feedbackfield_admin_home') }}">Admin</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_show', {'projectId': project.publicId } ) }}">Project: {{ project.title }}</a></li>
        <li class="active">Feedback: {{ feedback.publicId }}</li>
    </ol>

    <table class="table table-striped">
        <tbody>
        {% for FeedbackFieldDefinition in FeedbackFieldDefinitions %}
            <tr>
                <td>{{ FeedbackFieldDefinition.field.title }}</td>
                <td>
                    {%  if FeedbackFieldDefinition.value.isAnonymised  %}
                        <div class="dataAnonymised">Anonymised!</div>
                    {%  else %}
                       {{  FeedbackFieldDefinition.valueString | linkify | nl2br }}
                    {%  endif %}
                </td>
            </tr>
            {%  for subValueKey, subValueValue in FeedbackFieldDefinition.subValuesString  %}
                <tr>
                    <td>({{  subValueKey  }})</td>
                    <td>{{  subValueValue  }}</td>
                </tr>
            {%  endfor %}
        {%  endfor %}
        </tbody>
    </table>

{% endblock %}
