{#
 #  @license 3-clause BSD
 #  @link https://github.com/FeedbackField/FeedbackField-Core
 #}

{% extends 'FeedbackFieldBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('feedbackfield_admin_home') }}">Admin</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_show', {'projectId': project.publicId } ) }}">Project: {{ project.title }}</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_feedback_stats', {'projectId': project.publicId } ) }}">Stats of Feedback</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_feedback_field_stats', { 'projectId':project.publicId,'fieldDefinitionId':feedbackFieldDefinition.publicId }) }}?from={{  dateRange.from|date('c')|url_encode}}&to={{  dateRange.to|date('c')|url_encode }}">Field {{ feedbackFieldDefinition.title }}</a></li>
        <li class="active">ENUM For Field: {{  feedbackFieldDefinition.title }}</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                From <input type="text" name="from" value="{{  dateRange.from|date('c') }}">
                To <input type="text" name="to" value="{{  dateRange.to|date('c') }}">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
            {% for value, valueData in data %}
                <tr>
                    <th>{{ value }}</th>
                    <td>{{ valueData['total'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
