{#
 #  @license 3-clause BSD
 #  @link https://github.com/FeedbackField/FeedbackField-Core
 #}

{% extends 'FeedbackFieldBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('feedbackfield_admin_home') }}">Admin</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_show', {'projectId': project.publicId } ) }}">Project: {{ project.title }}</a></li>
        <li class="active">Field Definitions</li>
    </ol>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Public Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Auto Fill</th>
                <th>Anon</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for feedbackFieldDefinition in feedbackFieldDefinitions %}
                <tr>
                    <td>{{ feedbackFieldDefinition.publicId }}</td>
                    <td>{{ feedbackFieldDefinition.title }}</td>
                    <td>
                        {{ feedbackFieldTypes[feedbackFieldDefinition.type].title }}
                    </td>
                    <td>
                        {%  if feedbackFieldTypes[feedbackFieldDefinition.type].isAutoFillPossible %}
                            {%  if feedbackFieldDefinition.isAutoFill %}
                                Yes
                            {%  else %}
                                No
                            {% endif %}
                        {%  else %}
                            n/a
                        {%  endif %}
                    </td>
                    <td>
                        {%  if feedbackFieldDefinition.anonymiseAfterDays  == 0 %}No{%  else %}{{  feedbackFieldDefinition.anonymiseAfterDays }} Days{%  endif %}
                    </td>
                    <td><a href="{{ path('feedbackfield_admin_project_feedback_field_definition_show', { 'projectId':project.publicId,'fieldDefinitionId':feedbackFieldDefinition.publicId }) }}" class="btn btn-default">View</a></td>
                </tr>
            {%  endfor %}
        </tbody>

    </table>


{% endblock %}
