{#
 #  @license 3-clause BSD
 #  @link https://github.com/FeedbackField/FeedbackField-Core
 #}

{% extends 'FeedbackFieldBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('feedbackfield_admin_home') }}">Admin</a></li>
        <li><a href="{{ path('feedbackfield_admin_project_show', {'projectId': project.publicId } ) }}">Project: {{ project.title }}</a></li>
        <li class="active">Exports</li>
    </ol>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for export in exports %}
            <tr>
                <td>{{ export.publicId }}</td>
                <td>
                    {% if export.isTypeTrello %}
                        Trello
                    {% endif %}
                </td>
                <td><a href="{{ path('feedbackfield_admin_project_export_show', { 'projectId':project.publicId,'exportId':export.publicId }) }}" class="btn btn-default">View</a></td>
            </tr>
        {%  endfor %}
        </tbody>

    </table>


{% endblock %}
