<div class="panel panel-default">
    <div class="panel-body">
        <form>
            From <input type="text" name="from" value="{{  dateRange.from|date('c') }}">
            To <input type="text" name="to" value="{{  dateRange.to|date('c') }}">

            <ul>
                {% for data in FiltersDatesMonthly() %}
                    <a href="#" onclick="$(this).parents('form').find('input[name=from]').val('{{  data.from | date('c') }}'); $(this).parents('form').find('input[name=to]').val('{{  data.to | date('c') }}'); return false">{{  data.label }}</a>
                {%  endfor %}
            </ul>

            <input type="submit" value="Search">
        </form>
    </div>
</div>

